.img1{
  width: 100%;
}
.carosal{
    justify-content: center;
}
.carosal1{
    margin-top: 10px;
}
.words{
   text-align: center;
   margin-top: 40px;
   font-size: 50px;
   font-weight: bold;
   
}
.words1{
  font-size: 20px;
}
.dis{
  width:100%;
  height: 500px;
  margin-top: 50px;
}
.diss{
   text-align: center;
   margin-top: 60px;
   font-size: 70px;
   font-weight: bold;
   font-style: italic;
}